{%- assign a = include.article -%}
{%- capture recherche -%}{{ a.title }} {{ a.resume }} {{ a.region }} {{ a.theme }} {{ a.mots_cles | join: " " }}{%- endcapture -%}
<article class="carte"
  data-theme="{{ a.theme | escape }}"
  data-region="{{ a.region | escape }}"
  data-annee="{{ a.date | date: '%Y' }}"
  data-recherche="{{ recherche | downcase | strip_newlines | escape }}">
  <a class="carte__lien" href="{{ a.url | relative_url }}">
    {% include photo.html src=a.image alt=a.image_alt classe="carte__photo" lazy=true %}
    <div class="carte__texte">
      <p class="carte__categorie">{{ a.theme }}</p>
      <h3 class="carte__titre">{% include typo.html texte=a.title %}</h3>
      {%- if a.resume %}
      <p class="carte__resume">{% include typo.html texte=a.resume %}</p>
      {%- endif %}
      <p class="carte__meta">
        <time datetime="{{ a.date | date: '%Y-%m-%d' }}">{% include date-fr.html date=a.date %}</time>
        {%- if a.region %}<span>{{ a.region }}</span>{% endif %}
      </p>
      <span class="carte__lire">Lire l'article</span>
    </div>
  </a>
</article>
