<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{%- if page.layout == "article" %}
<title>{{ page.title }} · {{ site.title }} {{ site.association.nom }}</title>
{%- else %}
<title>{{ site.title }} · {{ site.association.nom }}</title>
{%- endif %}
<meta name="description" content="{{ page.resume | default: site.description | strip_html | escape }}">
<meta property="og:title" content="{{ page.title | default: site.title | escape }}">
<meta property="og:description" content="{{ page.resume | default: site.description | strip_html | escape }}">
<meta property="og:type" content="{% if page.layout == 'article' %}article{% else %}website{% endif %}">
{%- if page.image %}
<meta property="og:image" content="{{ page.image | absolute_url }}">
{%- endif %}
<meta name="theme-color" content="#001F92">
<link rel="icon" href="{{ '/assets/img/favicon.png' | relative_url }}" type="image/png">
<link rel="apple-touch-icon" href="{{ '/assets/img/favicon.png' | relative_url }}">
<link rel="preload" href="{{ '/assets/fonts/Galatea-Black.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
